@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bgone {
    @apply bg-gradient-to-r from-[#FC365A] from-[-10%] to-[#A00BFB] to-[96.82%];
  }
  .bgtwo {
    @apply bg-gradient-to-r
        from-[#FFBC21] from-[-12.8%] 
        via-[#FD843A] via-[3.38%] 
        via-[#FC5554] via-[20.22%] 
        via-[#FC365F] via-[39%] 
        via-[#F02E6B] via-[61.01%]
        via-[#DD3578] via-[85.68%]
        to-[#81399D] to-[107.63%];
  }
  .clip {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#FC365A] to-[#A00BFB];
  }
  .clip_secondary {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#FC365F] to-[#A00BFB];
  }

  .cliptwo {
    @apply bg-clip-text text-transparent bg-gradient-to-r
        from-[#FFBC21] from-[-12.8%] 
        via-[#FD843A] via-[3.38%] 
        via-[#FC5554] via-[20.22%] 
        via-[#FC365F] via-[39%] 
        via-[#F02E6B] via-[61.01%]
        via-[#DD3578] via-[85.68%]
        to-[#81399D] to-[107.63%];
  }
  
  .link {
    @apply relative rounded-full;
  }
  .link::before {
    @apply content-[""] absolute w-[100%] h-[100%] bgtwo rounded-full top-0 left-0 scale-x-0 transition-transform ease-in origin-right duration-500;
  }
  .link:hover::before {
    @apply scale-x-100 origin-left rounded-full ease-in;
  }

  .video-docker::after {
    @apply content-[""] absolute w-[100%] h-[100%] top-0 left-0 bg-black bg-opacity-50 z-10;
  }
 .blank_mode{
  @apply bg-blend-multiply bg-[#A7A7A7];
 }
  .servicecard {
    @apply h-60 w-60 rounded-[18px] bg-white hover:shadow-xl shadow-gray-700 flex items-center justify-center flex-col;
  }

  .cardlayout {
    @apply flex flex-wrap justify-center items-center;
  }

  .btn_light_primary {
    @apply h-[56px] w-[160px] bg-gradient-to-r from-[#FC365A] to-[#A00BFB] text-[#F0FDF4] rounded-[6px];
  }
  .btn_light_primary2 {
    @apply h-[56px] w-[175px] bg-gradient-to-r from-[#FC365A] to-[#A00BFB] text-[#F0FDF4] rounded-[6px] font-bold;
  }

  .btn_light_secondary {
    @apply h-[56px] w-[160px] bg-white rounded-[6px];
  }

  .border_right{
    @apply rounded-md bg-gradient-to-r from-[#FC365A] to-[#A00BFB] p-1;
  }


}

.border_bottom {
  position: relative;
}

.border_bottom::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, #fc365a, #a00bfb);
}

.bg-color-blend-mode {
  background-blend-mode: multiply;
  background-color: #F8BB54;
}

.blank_modes {
  background-blend-mode: multiply;
  background-color: #A7A7A7 ;
}
.absolute_center{
  position: absolute;
  left: -20%;
  top: 45%;
}